<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Display Stock of All Varitants in Product Template</h2>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                    <img src="product_tmpl_stock.png" style="width:200%">
            </div>
        </div>
    </div>
    <section class="oe_container"><h2 class="oe_slogan">Help and Support.</h2>
	<div class="oe_slogan">
		Email us: support@bsltechnologies.com
	</div>
	</section>
</section>